version: '3.9'

services:
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydatabase
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - '5432:5432'


  rss-simple:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: "postgresql://postgres:postgres@postgres:5432/mydatabase?sslmode=disable"
      JWT_SECRET: "my-secret-key"
      PORT: 3001
    ports:
      - '3001:3001'
    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  postgres_data:
